/* Add CSS Styling */
.class1{
background-color: pink; font-family: Verdana, "DejaVu Sans", sans-serif;
}
#id2{
color: blue; font-size: 36px;
}
.class3{
background-color: pink; font-family: Verdana, "DejaVu Sans", sans-serif;font-size: 24px;
}
#id4{
background-color: lightgreen; font-size: 24px; font-weight: bold;
}
.class5{
background-color: pink; font-family: Verdana, "DejaVu Sans", sans-serif;
}