/* Add CSS Styling */
.YesMe{background-color: black; color: white;
background-color: black; color: white;
}
.NoMe{
background-color: yellow; color: bl;
}
.YesMe,
.NoMe {
    font-size: 28px; font-family: Helvetica, "Times New Roman",sans-serif;
}