body {
  background:red;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: green;
  padding: 32px;
  margin:   auto;
}

.title {
  background: lightblue;
  font-size: 16px;
  padding: 16px;
  
  margin-bottom: 16px;
}

.content {
  background: lightblue;
  padding: 16px;
  
  margin-bottom: 16px;
}

.button-container {
  background: lightblue;
  text-align: center;
  padding: 16px;
  
}

button {
  display: block;
  margin:auto;
  padding: 8px 24px;
  background: white;
  border: 1px solid #eee
  
}